@using Imagine.DataAccess.Entities
@model IEnumerable<Product>

<partial name="_Dashboard"/>
    
<div class="container-fluid bg-transparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">

        @foreach (Product product in Model)
        {
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="~/images/@product.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">@product.Name</span>
                            <span class="float-end price-hp">@product.Price.ToString("c")</span>
                        </div>
                        <h5 class="card-title">
                        </h5>
                        <div class="btn-group">
                            <a asp-action="Details"  asp-controller="Product" asp-route-id="@product.Id" class="btn btn-primary me-2 rounded">Details</a>
                            <a asp-action="Edit" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-warning me-2 rounded">Edit</a>
                            <a asp-action="Delete" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-danger rounded">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

