@model IEnumerable<User>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Adress</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Password</th>
            <th scope="col">Is Confirmed</th>
            <th scope="col">Is Admin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Name</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Address</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Password</td>
                <td>@user.IsConfirmed</td>
                <td>@user.IsAdmin</td>
                <td><a asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-warning">Edit</a></td>
                <td></td>
            </tr>        }
    </tbody>
</table>