@model IEnumerable<OrderItem>


@if (ViewData["noActiveOrders"] != null)
{
    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 300; font-size: 3em; color: black; text-align: center;">
        You don't have any active orders.
    </h2>
}
else
{
    <div class="row w-100">
        <div class="col-lg-12 col-md-12 col-12">
            <h3 class="display-5 mb-2 text-center">Your Active Orders</h3>
            <p class="mb-5 text-center">
            </p>
            <table id="shoppingCart" class="table table-condensed table-responsive">
                <thead>
                <tr>
                    <th style="width:60%">Product</th>
                    <th style="width:12%">Price</th>
                    <th style="width:10%">Quantity</th>
                    <th style="width:10%">Tracking Number</th>
                    <th style="width:16%">Order Status</th>
                    <th style="width:16%">Order Details</th>
                    <th style="width:16%">Cancel Order</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    <img src="~/images/@item.Product.ImageUrl" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                </div>
                                <div class="col-md-9 text-left mt-sm-2">
                                    <h6>@item.Product.Name</h6>
                                    <p class="font-weight-light"></p>
                                </div>
                            </div>
                        </td>
                        <td>@item.Product.Price.ToString("c")</td>
                        <td>
                            <input type="number" class="form-control form-control-sm text-center" value="@item.Quantity" disabled>
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm text-center" value="@item.Order.TrackingNumber" disabled>
                        </td>
                        <td>
                            <input class = "form-control form-control-sm text-center" value="@item.Order.OrderStatus" disabled>
                        </td>
                            <td><a asp-action="OrderDetails" asp-controller="Order" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Order Details</a></td>
                            <td><a asp-action="CancelOrder" asp-controller="Order" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Cancel Order</a></td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
}