@model X.PagedList.IPagedList<Product>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="container-fluid bg-transparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        @foreach (Product product in Model)
        {
            <div class="col-md-3 mt-2">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                    <div class="card">
                        <div class="card-img-actions">
                            <img src="~/images/@product.ImageUrl" class="card-img img-fluid" alt="">
                        </div>
                        <div class="card-body text-left">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2 card-title">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                        <b style="font-size: 13px;">@product.Brand</b>
                                        <p style="font-size: 13px;" class="truncate">@product.Name</p>
                                    </a>
                                </h6>
                            </div>

                            <h3 class="mb-0 font-weight-semibold" style="font-size: 18px; color:#f27a1a">@product.Price.ToString("N0") TL</h3>
                            <div>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star emptystar"></i>
                                <p style="display: inline; color: #7b7b7b;">(0)</p>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="d-flex justify-content-center my-4">
        <ul class="pagination">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Previous</a>
            </li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Next</a>
            </li>
        </ul>
    </div>
</div>

<style>
    body {
        margin: 0;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5385;
        color: #ffffff;
        text-align: left;
    }

    .mt-50 {
        margin-top: 50px;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

    .card {
        width: 18rem;
        height: 550px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .1875rem;
        overflow: hidden;
    }

    .card-img-actions {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .card-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 0.75rem;
        text-align: left;
    }

    .fa-star {
        color: red;
    }

    .emptystar {
        color: gray;
    }

    .bg-cart {
        background-color: orange;
        color: #fff;
    }

        .bg-cart:hover {
            color: #fff;
        }

    .bg-buy {
        background-color: green;
        color: #fff;
        padding-right: 29px;
    }

        .bg-buy:hover {
            color: #fff;
        }

    a {
        text-decoration: none !important;
    }

    .card-title {
        display: flex;
        flex-direction: column;
    }

        .card-title a {
            height: 3.4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #7b7b7b; /* Product name color */
            text-decoration: none; /* Remove underline */
            margin: 0;
        }

            .card-title a:hover {
                color: #7b7b7b; /* Maintain color on hover */
                text-decoration: none; /* Ensure no underline on hover */
            }

        .card-title b {
            color: #484848; /* Product brand color */
            display: block;
            font-size: 13px; /* Adjust as needed */
            text-align: left;
        }

        .card-title p {
            color: #7b7b7b; /* Product name color */
            font-size: 13px; /* Adjust as needed */
            margin: 0; /* Remove default margin */
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
</style>
