@using Imagine.DataAccess.Entities
@model IEnumerable<Product>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
            <th scope="row">@product.Id</th>
            <td>@product.Name</td>
            <td>@product.Category.Name</td>
            <td>@product.Price TL</td>
            @if (User.Identity.IsAuthenticated)
            {
                <td><a class="btn btn-primary" asp-action="Edit" asp-route-id="@product.Id" role="button">Edit</a></td>
                <td><a class="btn btn-primary" asp-action="Delete" asp-route-id="@product.Id" role="button">Delete</a></td>
            }
            </tr>
        }
    </tbody>
</table>