@model UserDtoForLogin

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form</title>
    <link rel="stylesheet" href="~/login/style.css">
</head>
<body>
    <div class="container">
        <div class="login form">
            <header>Login</header>
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <span asp-validation-for="@Model.Email"></span>
                <input asp-for="@Model.Email" type="text" placeholder="Enter your email">
                <span asp-validation-for="@Model.Password"></span>
                <input asp-for="@Model.Password" type="password" placeholder="Enter your password">
                <a href="#">Forgot password?</a>
                <input type="submit" class="button" value="Login">
            </form>
            <div class="signup">
                <span class="signup">
                    Don't have an account?
                    <a asp-action="Register"><label for="check">Signup</label></a>
                </span>
            </div>
            <div class="text text-info">
                @TempData["Message"]
            </div>
            <div class="text text-danger">
                @TempData["Error"]
            </div>
        </div>
    </div>
</body>
</html>