@model UserDtoForRegister

<link rel="stylesheet" href="~/login/style.css">
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div asp-validation-summary="ModelOnly"></div>

        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
            
                <!-- Demo content-->
                <div class="container">
                    @if (ViewData["Exists"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Unable to register</h4>
                            <p>@ViewData["Exists"]</p>
                        </div>
                    }
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Welcome To Imagine</h3>
                            <p class="text-muted mb-4">Register a new account </p>
                            <form asp-action="Register" method="post">
                                <div class="form-group mb-3">
                                    <span asp-validation-for="@Model.Name"></span>
                                    <input asp-for="@Model.Name" id="inputEmail" type="text" placeholder="Name" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <span asp-validation-for="@Model.Email"></span>
                                    <input asp-for="@Model.Email" id="inputEmail" type="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <span asp-validation-for="@Model.Password"></span>
                                    <input asp-for="@Model.Password" id="inputPassword" type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="form-group mb-3">
                                    <span asp-validation-for="@Model.ValidatePassword"></span>
                                    <input asp-for="@Model.ValidatePassword" id="inputEmail" type="password" placeholder="Validate password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Register</button>
                            </form>
                            <div class="text-center d-flex justify-content-between mt-4">
                                <p>
                                    Already have an account? <a asp-action="Login" class="font-italic text-muted">
                                        <u>Login</u>
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
